# Introdução aos atributos e métodos de uma série
- Atributos apenas informam alguma coisa do objeto, mas não o modifica
- Métodos podem modificar o estado do objeto

In [1]:
import pandas as pd

## Atributos

In [3]:
frutas = ["banana", "uva", "pera", "laranja", "maca"]
s = pd.Series(frutas)
s

0     banana
1        uva
2       pera
3    laranja
4       maca
dtype: object

Existem diversos atributos para uma série. Se digitarmos `s.` e depois a tecla `tab`, o Jupyter irá mostrar quais são os atributos e métodos disponíveis. É sempre válido checar a documentação para mais informação.

Aqui vamos explorar apenas alguns deles:

1. Obtendo apenas os valores da série

In [4]:
s.values

array(['banana', 'uva', 'pera', 'laranja', 'maca'], dtype=object)

- **Observação:**
    - Pandas utiliza NumPy
    - Logo, a `serie` armazena os valores em forma de um `np.ndarray`

In [5]:
type(s.values)

numpy.ndarray

2. Obtendo apenas os indices

In [7]:
s.index

RangeIndex(start=0, stop=5, step=1)

3. Obtendo o tipo dos dados

In [8]:
s.dtype # 'O' = objects

dtype('O')

4. Obtendo se os valores da serie são unicos (no caso, sim. Mas se adicionar outro valor repitido, seria False)

In [9]:
s.is_unique

True

5. Obtendo a dimensão da serie

In [10]:
s.ndim

1

6. Obtendo o shape da serie

In [11]:
s.shape

(5,)

7. Obtendo o tamanho da serie. Similar ao shape, mas conta o total de elementos da serie

In [12]:
s.size

5

## Métodos

In [13]:
import numpy as np
temperaturas = [29.5, 23.5, 42.0, 22.1, 19.1, np.nan]
dias = ["seg", "ter", "qua", "qui", "sex", "sab"]
s = pd.Series(temperaturas, index=dias)
s

seg    29.5
ter    23.5
qua    42.0
qui    22.1
sex    19.1
sab     NaN
dtype: float64

- Obtendo a quantidade valores não nulos (ou `NaN`)
    - Podemos usar a primitiva `len`, porém ela retorna a quantidade total, sem excluir `NaN`

In [14]:
s.count()

5

- Obtendo a soma das temperaturas

In [15]:
s.sum()

136.2

- Obtendo a média e desvio padrão das temperatuas

In [16]:
print(s.mean(), "+-", s.std())

27.24 +- 9.077885216282478

- Obtendo a mediana

In [17]:
s.median()

23.5

- Obtendo os valores máximo e mínimo

In [18]:
print(f"Max: {s.max()} | Min:  {s.min()}")

Max: 42.0 | Min:  19.1

- Podemos usar o método `describe`, que faz um resumo de tudo:

In [19]:
s.describe()

count     5.000000
mean     27.240000
std       9.077885
min      19.100000
25%      22.100000
50%      23.500000
75%      29.500000
max      42.000000
dtype: float64

- Podemos transformar uma série em um `dict` usando o método `to_dict()`

In [20]:
s.to_dict()

{'seg': 29.5, 'ter': 23.5, 'qua': 42.0, 'qui': 22.1, 'sex': 19.1, 'sab': nan}

## Usando a primitiva `in`
- Podemos também usar função nativa do pandas como o `in`
- Observe que o `in` busca dentro dos indexes e não valores

In [21]:
"seg" in s

True

- É o mesmo que fazer:

In [22]:
"seg" in s.index

True

- Se quisermos buscar dentro dos valores, podemos fazer:

In [23]:
100 in s.values

False